/* Reset styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

/* Navigation styles */
ul {
  list-style: none;
  background: #22438C;
  position: fixed; /* Fixed position to prevent scrolling issues */
  top: 0; /* Align at the top of the viewport */
  width: 100%; /* Take full width of the viewport */
  z-index: 1000; /* Ensure the navbar is above other content */
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #22438C;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li {
  display: block;
}

ul li a:hover {
  background: #ffffffbf;
}

/* Header styles */
h1 {
  text-align: center;
  background: #22448c7c;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #e6dfdfdb;
  font-family: Arial, Helvetica, sans-serif;
}

/* Subheader styles */
h2 {
  text-align: center;
  font-size: 24px; /* Adjusted font size for smaller screens */
}

/* Paragraph styles */
p {
  font-size: 16px; /* Adjusted font size for smaller screens */
  text-align: justify; /* Align paragraphs justify for better readability */
}

/* Frame styles */
.frame {
  padding: 30px;
  position: relative;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Slideshow navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background: grey;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Adjust font sizes for smaller screens */
@media only screen and (max-width: 768px) {
  ul li a {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  .frame {
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
  }
}
